* {
	box-sizing: border-box;
}

body {
	margin-top: 40px;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;

	background-color: #222;
	color: #fff;
	font-family: sans-serif;
}

#app-root {
	display: contents;
}

.scatterplot-graph {
	width: 100%;
	min-width: 800px;
}

.dot--doping {
	fill: #ffaa88;
}

.dot--no-doping {
	fill: #8888ff;
}

.dot:hover {
	fill: #ffffff;
}

#title {
	fill: #ffffff;
	text-anchor: middle;
}

.legend-text {
	dominant-baseline: middle;
	font-size: 12px;
	fill: #ffffff;
}

#tooltip {
	fill: #ffffff;
	font-size: 10px;
}